@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<style type="text/css">
    * {
         margin: 0;
         padding: 0;
         font-family: "Poppins", sans-serif;
     }

    #banner {
         background-image: linear-gradient(rgba(0,0,0,0.5),#000000),  url('../../Images/banner4.jpg');
         background-size: cover;
         background-position: center;
         height: 100vh;
     }

    
    .banner-text{
         text-align:center;
         color:white;
         padding-top:180px;
            }
    .banner-text h1 {
         font-size: 130px;
         font-family: "Kaushan Script", cursive;
             }
    .banner-text p {
        font-size: 20px;
        font-style:italic;
        font-weight:bold;
             }
    .banner-btn{
        margin:70px auto 0;
            }
    .banner-btn a {
        width: 150px;
        text-decoration: none;
        color: white;
        font-weight: bold;
        display:inline-block;
        margin:0 10px;
        padding:12px 0;
        border:2px solid white;
        position:relative;
        z-index:1;
        transition:color 0.5s;
                 }
    .banner-btn a span{
        width:0%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        background:white;
        z-index:-1;
        transition:0.5s;
             }
    .banner-btn a:hover span{
        width:100%;

                 }
    .banner-btn a:hover{
        color:black;
        font-weight:bold;
                 }
      
 }
</style>
 <html>
 <head>
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

 </head>
 
 <body>
     <section id="banner">        
         <div class="banner-text">
             <h1>BARBER SHOP</h1>
             <p>HỆ THỐNG BARBER SHOP HÀNG ĐẦU</p>
             <div class="banner-btn">
                 <a href="~/Home/ĐặtLịch"><span></span>Đặt lịch</a>
                 <a href="#"><span></span>Dịch vụ</a>
             </div>
         </div>
    
     </section>     

 </body>
 </html>

